/* 🔹 Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 15em); /* 🔹 Ocupar espaço ao lado do Aside */
    margin-left: 10px;
    padding: 1em;
  }
  
  /* 🔹 Breadcrumb */
  .breadcrumb {
    width: 100%;
    margin-bottom: 20px; /* 🔹 Espaço entre o breadcrumb e o conteúdo */
    align-self: flex-start;
  }
  
  /* 🔹 Título */
  .titulo {
    color: rgba(0, 74, 141, 1);
    font-weight: bold;
    margin-top: 5px;
  }
  