.header {
    background-color: #004A8D;
    color: white;
    padding: 0.9375em 1.25em;
    font-size: 1.125em;
    font-weight: bold;
    border-bottom: 0.3125em solid #f29100;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  